@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{

    /*RESET*/
    margin:0;
    padding:0;
    font-size: 62.5%;
    

    /*COLORS*/
    --clr__main-tomato:hsl(4, 100%, 67%);
    --clr__neutral--grey-100:hsl(234, 29%, 20%);
    --clr__neutral--grey-75: hsl(235, 18%, 26%);
    --clr__neutral--grey-0: hsl(231, 7%, 60%);
    --clr__neutral--white: hsl(0, 0%, 100%);
    /*COLORS END */

    /*FONT*/
    --fs-p:1.6rem;
    --ff-main: 'Roboto', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
    /*FONT END*/

    /*CONTAINER SIZES*/
    --container__width--desktop: 1440px;
    --container__width--mobile: 375px;

}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    line-height:1.8;
}
body{

    font-family: var(--ff-main);
    background-color: var(--clr__neutral--grey-75);
}

/*IMAGES RESET*/
img{
    max-width:100%;
    display:block;
}

/*-------
TYPHOGRAPHY-------
*/

h1{
    font-size:calc(3*var(--fs-p));
}

p, li, h3{
    font-size: var(--fs-p);
    font-weight: var(--fw-regular);
    
}
.bold{
    font-weight: var(--fw-bold);
}


ul{
    list-style-type: none;
}
.neutral--grey{
    color: var(--clr__neutral--grey-100);
}

/*-----NOT VISIBLE-----*/
.inactive{
    display:none;
}


/*----------
LAYOUT
----------*/


.container{
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;

}
.grid__container{
    display:grid;
    max-width: 75vw;
    align-items: center;
}

@media (min-width: 650px){
    .grid__container--2col{
        grid-template-columns: 1fr 1fr;
    }
    .newsletter__image{
        padding: 2rem;
    }
}
@media (max-width: 649px){
    .newsletter__image{
        order:1;
        padding:0;
        margin-inline:auto;
        
    }
    .newsletter__text{
        order:2;
    }
    .succes-message{
        height:100dvh;
        border-radius: 0;
    }

}



.newsletter{
    background-color: var(--clr__neutral--white);
    max-width:80rem;    
}

.newsletter__text{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding:6%;
    
}

.newsletter__header, .newsletter__header--h1{
    margin-bottom: 2rem;
    
}

/*LIST*/
.product-values{
    margin-bottom:2rem;
}

.product-values--item{
    display:flex;
    gap:1.1rem;
    line-height: 2;
    align-items: center;
}

.product-list--icon{
   width:20px;
   height:20px;
    background:center / contain no-repeat url('assets/images/icon-list.svg');
}


/*FORM*/
.newsletter__form{
    display:grid;
    
}

.form__label{
    display: flex;
    justify-content: space-between;
    font-size: calc(0.85*(var(--fs-p)));
    font-family: var(--ff-main);
}

.form__error{
    color:var(--clr__main-tomato);
}

.invalid{
    color:var(--clr__main-tomato);
    background-color: rgba(255,0,0,0.1);
    border-color:var(--clr__main-tomato) ;
}

.rounded{
    border-radius: 1rem;
}
.button{
    padding:1rem;
    margin-bottom: 1.8rem;
    cursor:pointer;
}
.neutral-grey__bg{
    background-color: var(--clr__neutral--grey-100);
    color:var(--clr__neutral--white);
}



/*HOVER STATES*/
.button__states{
    position:relative;
    transition: box-shadow, background-color 500ms ease-in-out;
}
.button__states::after{
    content:"";
    -webkit-box-shadow: 0px 0px 25px 0px var(--clr__main-tomato);
    -moz-box-shadow: 0px 0px 25px 0px var(--clr__main-tomato);
    box-shadow: 0px 0px 25px 0px var(--clr__main-tomato);
    position:absolute;
    inset:0;
    opacity:0;
    transition: opacity 1000ms ease-in-out;
}
.button__states:active,
.button__states:hover{
    background-color: var(--clr__main-tomato);
    border-color: transparent;
}
.button__states:active::after,
.button__states:hover::after{
    opacity:1;
}




/*THANK YOU */
.succes-message{
    background-color: var(--clr__neutral--white);
    max-width:60rem;
    min-height:50rem;
    padding:5rem;
    align-items: center;

}

.thank-you__header--h1{
    line-height: 1.2;
}
